.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color:lightslategrey;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-text{   
   color: beige
}